# IDE-spezifische Dateien
.idea/

# Python virtuelle Umgebung
venv/

# Log-Dateien
*.log

# Abhängigkeits-Caches
npm-debug.log*
yarn-debug.log*

# Umgebungsdateien
.env
.env.*

# Lokale Build-Artefakte
build/
dist/
*.pyc
__pycache__/
